@media (max-width:550px) {
    .MainServicesdesktop{
        margin-top: 40px;
        background-color: #eeeeee;
    }
    .MainServicesdesktopwrap{
        padding-top: 20px;
    }
    .MainServicestitle{
        font-weight: bold;
        font-size: 23px;
    }
    .MainServicesdesktopwrap{
        max-width: 300px;
        width: 100%;
        margin: auto;
        text-align: center;
        flex-direction: row;
        padding-bottom: 40px;
        padding-top: 40px;
        font-size: 18px;
      }
  
}

@media (min-width:550px) {
    .MainServicesdesktop{
        background-color: #eeeeee;
    }
    .MainServicesdesktopwrap{
      max-width: 1252px;
      width: 100%;
      margin: auto;
      display: flex;
      text-align: center;
    }
}